.form-legend {
    font-size: 12px;
    color: #f50057;
}

.grouped-form-choices {
    display: flex;
    flex-direction: column;
    border: 1px #f50057 solid;
}

.field-radio-group {
    display: inline;
    padding-left: 20px;

}

.MuiFormControl-root > label {
    width: 20%;
    padding-bottom: 5px;
}

.MuiGrid-grid-xs-12 {
}

.react-autosuggest__container {
    width: 100%;

}

.react-autosuggest__input {
    width: 80%;
}

.react-autosuggest__suggestions-container--open {
    width: 100%;
}
